@import url("root.css");

html, body {
    overflow-x: hidden;
    width: 100%;
}

h2 {
    font-size: 2.2rem !important;
    max-width: 350px !important;
    margin: 0 auto;
}

/* The second card waits just a moment longer */
.card:nth-child(2).reveal {
  transition-delay: 0.5s;
}

/* The third card waits a bit more */
.card:nth-child(3).reveal {
  transition-delay: 0.4s;
}

.reveal {
  opacity: 0;
  transform: translateY(130px) scale(0.8);
  /* Increase 0.6s to 1.2s for a slower feel */
  /* Use a 'cubic-bezier' for a smooth start and slow finish */
  transition: transform 1.2s cubic-bezier(0.2, 1, 0.3, 1), 
              opacity 1.2s ease;
  visibility: hidden;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  visibility: visible;
}

.menu-item.reveal {
    /* Increase to 2.5s to make the 'rise' feel heavy and premium */
    transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), 
                opacity 2.5s ease;
}

.review-item.reveal {
    transition: transform 1.5s cubic-bezier(0.2, 1, 0.3, 1), opacity 1.5s ease;
    transition-delay: 0.2s;
}

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url("https://lh3.googleusercontent.com/p/AF1QipOLYaWIUDR6D3qw_LfdllbBPOBBtlaYqhWs0jVg=s1360-w1360-h1020-rw");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.landing-content {
    font-size: 2.4rem;
    font-family: 'Playfair Display';
    text-align: center;
    padding-top: 30vh;
    color: var(--bs-header-white);
    line-height: 1.2;
}

.landing-content h1 {
    letter-spacing: 1px;
}

.landing-content p {
    font-size: 28px;
    margin-top: 50px;
    text-align: center !important;
}

@media (max-width: 1200px) {
    #landing .landing-content {
        margin: 0 auto !important;
        text-align: center;
        padding-top: 30vh;
        width: 90%;
    }
    .landing-content h1 {
        font-size: 65px;
    }
    .landing-content p {
        font-size: 30px;
    }
}

#services {
    min-height: 100vh;
    background-color: var(--bs-background-1);

    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#services h2 {
    font-size: 2.7rem;
    text-align: center;
    margin-top: 50px !important;
    padding-bottom: 50px;
    color: var(--bs-navbar-blue-two);
}

#services .icon-group h3 {
    font-size: 38px;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bs-navbar-blue-two);

    white-space: nowrap;
    margin-bottom: 20px;
}

#services .icon-group p {
    max-width: 350px;
    font-size: 23px;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0 auto;
    color: var(--bs-paragraph-grey);
    margin-top: -15px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    #services .icon-group {
        max-width: 200px;
    }
    #services .icon-container {
        max-width: 708px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap !important;
        gap: 50px;
    }
    #services .icon-group:last-child {
        margin-top: -60px !important;
    }
    #services .cta {
        margin-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

@media (max-width: 768px) {
    #services .icon-group h4 {
        font-size: 28px;
        letter-spacing: 1px;
    }
    #services .icon-group p {
        font-size: 20px;
        letter-spacing: 1px;
    }
}

#showcase {
    min-height: 100vh;
    background-color: var(--bs-background-2);
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(18, 52, 83, 0.08); /* Faint navy line */
}


#showcase h2 {
    font-size: 2.7rem;
    font-family: 'Playfair Display';
    text-align: center;
    color: var(--bs-navbar-blue-two);
    padding: 75px 0;
}

@media (max-width: 768px) {
    #showcase .container {
        max-width: 708px;
        gap: 30px !important;
        display: flex;
        flex-direction: column !important;
    }
    #showcase .menu-item {
        max-width: 300px !important;
        min-height: 350px !important;
    }
}

#showcase .container {
    display: flex;
    flex-direction: row;
    max-width: 2000px;
    gap: 50px;
    margin: auto auto;
}

#showcase .container .menu-item {
    max-width: 350px;
    min-height: 400px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border-radius: 10px;
}

#showcase .container .menu-item img {
    display: block;
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    border-radius: 5px 5px 0 0;
}

#showcase .container .menu-caption {
    background-color: #fff;
    min-width: 300px;
    height: 170px;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;

    display: flex; /* Switch back to block for a second to test this */
    width: 100%;
    padding: 20px; /* Give the text some breathing room */
    border-radius: 0 0 5px 5px;
}

#showcase h4 {
    font-size: 1.3rem;
    font-family: 'Playfair Display';
    text-align: center;
    margin-top: -5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#showcase .menu-item p {
    color: var(--bs-paragraph-grey);
    font-style: italic;
    font-family: 'Lato';
    max-width: 250px;
    font-size: 18px;
    margin: 0 auto;
    letter-spacing: 0.3px;
    justify-content: flex-end;
}

#showcase .caption-text {
    text-align: center;
    width: 100%;
    margin: 0;
    display: block;
}

#showcase .menu-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(18, 52, 83, 0.15)
}

#showcase .menu-item:hover img {
    filter: brightness(1.10);
    transition: filter 0.3s ease;
}

#location {
    min-height: 100vh;
    background-color: var(--bs-background-1);
    display: flex !important;
    flex-direction: column;
    padding: 50px 0;
}

#location .container {
    display: flex;
    flex-direction: row;
    gap: 40px !important;
    justify-content: space-between; /* This pushes one left and one right */
    align-items: flex-start;        /* Keeps the top of the map and text level */
    padding: 0 25px;                /* Adds a little breathing room from the screen edges */
}

#location .right-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
    margin-right: 100px;
}
#location .hours-dropdown summary {
    list-style: none;
    font-size: 25px;
    margin-bottom: 50px;
}

#location .hours-dropdown summary:hover {
    cursor: pointer;
    text-decoration: underline;
}

#location .hours-dropdown i {
    font-size: 20px;
}

#location .hours-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

#location .hours-dropdown[open] .hours-content p {
    grid-template-rows: 1fr;
    text-align: right;
    margin-top: -10px !important;
}

#location .hours-dropdown[open] .hours-content span {
    font-weight: 700;
    margin-right: 10px;
}

.hours-inner {
    min-height: 0;
}

#location .hours-dropdown summary::-webkit-details-marker {
    display: none;
}

/* Ensure each side takes up about half the space */
#location .map-content, 
#location .right-content {
    flex: 1; 
    max-width: 50%;
}

#location .right-content {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

#location h2 {
    color: var(--bs-navbar-blue-two);
    text-align: center;
    font-size: 2.7rem;
    font-family: '';
    padding: 75px 0;
}

#location .container {
    display: flex;
    justify-content: center; /* Pulls content to the middle */
    gap: 80px;               /* Creates a clean, deliberate space between columns */
    align-items: flex-start;
    padding: 20px;      /* Adds space at top and bottom of the section */
}
#location h3 {
    font-size: 2rem;
    font-family: 'Playfair Display';
    margin-bottom: 10px;
    text-align: right;
    letter-spacing: 1px;
}

#location h4 {
    font-size: 28px;
    text-align: right;
    font-weight: 550;
    letter-spacing: 0.6px;
    color: var(--bs-navbar-blue-two);
}

#location .right-content p {
    font-size: 18px;
    font-family: 'Lato';
    text-align: right;
    margin-bottom: 50px;
}

#location .right-content span {
    margin-top: -30px;
    color: var(--bs-paragraph-grey-two);
    font-style: italic;
}

#location .right-content a {
    color: var(--bs-paragraph-grey);
}

#testimonials {
    background-color: var(--bs-navbar-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 75px;
}

#testimonials h2 {
    color: var(--bs-header-white);
    font-size: 2.7rem;
    font-family: 'Playfair Display';
    text-align: center;
    padding-bottom: 75px;
}

#testimonials .container {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    margin: 0 auto;
    gap: 50px;
}

#testimonials .review-item {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    text-align: center;
    justify-content: space-between !important;
    background-color: var(--bs-background-1);
    padding: 15px;
    min-height: 480px !important;
    border-radius: 10px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#testimonials .review-item:hover {
    background-color: var(--bs-header-white);
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.07);
}

@media (max-width: 768px) {
    #testimonials {
        padding-bottom: 50px;
    }
    #testimonials h2 {
        max-width: 500px !important;
        padding: 75px;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    #testimonials .review-item {
        gap: 30px;
    }
    #testimonials .container {
        max-width: 708px !important;
        display: flex;
        flex-direction: column;
    }
}

.review-item h4 {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Playfair Display';
    letter-spacing: 1px;
    color: #0a294b;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.review-item p {
    color: var(--bs-navbar-blue);
    font-size: 1rem;
    font-style: italic;
    font-family: 'Lato';
    letter-spacing: 0.3px;
    line-height: 1.7 !important;
    max-width: 95%;
    height: 175px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

#contact {
    background-color: var(--bs-background-4);
    min-height: 80vh;
    padding-bottom: 50px;
}

#contact h2 {
    font-size: 2.7rem;
    color: var(--bs-paragraph-one);
    text-align: center;
    padding: 75px 0;
}

#contact .container {
    padding: 0 40px;
    padding-top: 30px !important;
    max-width: none;
    width: 100%;
    min-height: 500px;
    border-radius: 10px;

    display: flex !important;
    flex-direction: row !important;
    gap: 40px;
    align-items: flex-start;
}

#contact .form-container {
    background-color: var(--bs-paragraph-grey);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex !important;
    flex-direction: row !important;
    flex: 2 !important;
    gap: 40px;
    align-items: flex-start !important;
    min-height: 500px;
    padding: 20px 40px;
    min-width: 1050px;
}

#contact .input-group, .message-box {
    flex: 1 !important;
}

#contact .message-box .header-group {
    display: flex;
    flex-direction: row-reverse;
}

#contact .header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px !important;
}

.header-group i {
    color: var(--bs-header-white);
}

.contact-item {
    display: flex;
    flex-direction: column;
}

#contact h4 {
    font-size: 1.2rem;
    font-family: 'Playfair Display';
    font-weight: 300;
    color: var(--bs-header-white);
    margin-bottom: 5px;
}

input, select, textarea {
    display: inline-block !important;
    width: 90% !important;
    margin-bottom: 20px !important;
    border-radius: 5px;
}

input {
    height: 50px;
    padding: 20px;
}

textarea::placeholder {
    font-family: 'Lato' !important;
    font-size: 19px;
    letter-spacing: 1px;
}

select {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
}
select:hover {
    cursor: pointer;
    background-color: #d4d4d4;
}
option:hover {
    background-color: var(--bs-background-4);
}

#contact span {
    font-size: 1rem;
    color: var(--bs-paragraph-grey-two);
    text-align: left;
    max-width: 600px;
    font-style: italic;
}

#contact span a {
    color: var(--bs-cta-one)
}

#contact .message-box {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding: 0 40px;
    width: 60% !important; 
    min-height: 500px;
}

#textarea {
    max-width: 80% !important;
    margin-left: auto;
    padding: 20px;
    height: 300px !important;
    border-radius: 5px;
}

.faq-sidebar {
    flex: 1 !important;
    margin-top: 30px !important;
    max-width: none !important;
    width: 100%;
}

.faq-sidebar h3 {
    font-size: 2.2rem !important;
    color: var(--bs-navbar-blue) !important;
    text-align: right;
    margin-bottom: 20px;
}

.faq-sidebar .dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

/* 1. Target the specific pseudo-elements for all browsers */
#faq-dropdown summary::-webkit-details-marker,
#faq-dropdown summary::marker,
#faq-dropdown summary:before {
    display: none !important;
    content: none !important;
    list-style: none !important;
}

/* 2. Force the summary to NOT be a list-item */
.faq-sidebar #faq-dropdown summary {
    display: flex !important; /* This should override 'list-item' */
    list-style: none !important;
    list-style-type: none !important;
    
    justify-content: flex-end;
    align-items: center;
    flex-direction: row; 
    text-align: right;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1.4rem !important;
}

#faq-dropdown summary:hover {
    cursor: pointer;
}

.faq-sidebar #faq-dropdown i {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}

/* Rotate the icon when the details tag is open */
#faq-dropdown[open] summary i {
    transform: rotate(90deg);
    transition: transform 0.3s ease; /* Makes the rotation smooth */
}

/* Optional: Add a transition to the base state so it rotates back smoothly too */
#faq-dropdown summary i {
    transition: transform 0.3s ease;
}

#faq-dropdown[open] p {
    margin-bottom: 20px;
    text-align: right;
}

#faq-sidebar #faq-dropdown p {
    text-align: right;
    width: 100%;
    padding-right: 10px;
}

@media (max-width: 768px) {
    #contact .form-container {
        min-height: 400px;
        min-width: 400px !important; 
    }
    .form-container 
    .faq-sidebar {
        display: flex;
        flex-direction: column;
        width: 100%;

        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1400px) {
    #contact .container {
        display: flex !important;
        flex-direction: column !important;
        max-width: 1340px !important;
        width: 100%;
    }
    #contact .form-container {
        max-width: 1340px !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}