@import url("root.css");

.nav {

    background-color: var(--bs-navbar-blue);
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: transform 0.4s ease-in-out, background-color 0.3s ease;
}

.menu-btn,
#click,
.nav input {
    display: none !important; 
}

@media (max-width: 576px) {
    .menu-btn {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: var(--bs-header-white) !important;
        border: 3px solid rgba(255,255,255,0.5);
        padding: 10px;
        border-radius: 5px;
        font-size: 22px;
        cursor: pointer;
        margin: auto 0;
        margin-right: 50px;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.3s ease;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 95px; 
        left: 0;
        width: 100%;
        height: auto;
        background: var(--bs-navbar-blue);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        /* This moves the menu UP by its own height, hiding it behind the navbar */
        transform: translateY(-150%); 
        transition: transform 0.4s ease-in-out;
        z-index: -1; /* This ensures it stays BEHIND the logo bar while sliding */
    }
    #click {
        display: none !important;
    }

    #click:checked ~ ul {
        transform: translateY(0%);
        padding: 20px 30px;
        border-top: 2px solid var(--bs-header-white);
    }

    .nav ul li {
        margin: 10px 20px !important;

    }
}


/* This class will be added by JavaScript when scrolling down */
.nav-hidden {
    transform: translateY(-110%); /* Slides the bar up out of view */
}

.logo-container {
    width: 80px;           
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;      
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;           
    margin: auto 0;
    margin-left: 25px;
}

.logo-container img {
    width: 100%;           
    height: 100%;
    object-fit: contain;
    transform: scale(1.3);  
    image-rendering: -webkit-optimize-contrast;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 50px;
}

.nav-links li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lato';
}

.nav-links a {
    color: var(--bs-navbar-links);
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    transform: translateY(-3px);
    text-decoration: underline;
}