:root {
    --white: #fff;
    --feature: #D8AD56;
    --feature-two: #a98c53;
    --feature-three: #E4B939;

    --main-blue: #302B74;
    --brand-blue: #283356;
    --main-text: #363535;

    --first-section: #EBE0D2;
    --second-section: #f9f6f1;
}